

$primary: #fd8567;

$background: #F9F9FB;



.white { color: var(--white) !important };
.medium { color: var(--text_light_medium) !important };
.light { color: var(--text_light) !important };
.bold { font-weight: 500; };


.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3a3a3a9b;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
};

.modal-v {
    background-color: var(--white);
    border-radius: 2rem;
}

.between-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
};

.centered-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    padding: 0.5px 1rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 2px;
    font-size: 1.2rem;
};

.underlined {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 1rem;
    display: inline-block;
};

.small_button {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--primary);
    border-radius: 2rem;
    padding: 0 1rem;
    border: 2px solid var(--primary);
    cursor: pointer;
};

.shape_pink {
    background-color: pink;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        bottom: 35%;
        left: 20%;
        height: 30%;
        border-radius: 50rem;
        background-color: rgb(255, 163, 179);
        aspect-ratio: 1;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -10%;
        left: -50%;
        height: 75%;
        border-radius: 50rem;
        background-color: rgb(255, 221, 227);
        aspect-ratio: 1;
    }
}

