
h1, h2, h3, h4, h5, p, small {
    color: var(--text_dark);
    & svg {
        vertical-align: middle;
        color: var(--text_light_medium);
    }
}

h1 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 3.8rem;
    line-height: 1;
}

h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

h4 {
    font-size: 2.1rem;
    font-weight: 400;
}

h5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
    font-family: inherit;
    line-height: 1.5;
    font-weight: 300;
    color: #555555;
}

small {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text_light_medium);
}

li {
    font-size: 1.5rem;
    font-weight: 400; 
}

a {
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
};

label {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
    display: inline-block;
}
