.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div { 
        display: flex;
        align-items: center;
        cursor: pointer;
        & svg {
            font-size: 2.5rem;
            color: var(--text_dark);
            margin-right: 2rem;
        }
     }
     & span {
         background-color: var(--background_light);
         padding: 0.5rem 1rem;
         border-radius: 1rem;
         display: flex;
         cursor: pointer;
         gap: 1rem;
         & p { color: var(--primary); font-weight: 600;}
         & svg { color: var(--primary); font-size: 2rem;}
     }
}

.grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    height: 100%;
    width: 100%;

    & div {
        // height: 100%;
        // width: 100%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 2rem;
    &::-webkit-scrollbar {            /* height of horizontal scrollbar ← You're missing this */
        width: 1px;               /* width of vertical scrollbar */
        border-radius: 20px;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--text_light);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text_light_medium);
        border-radius: 20px;
      }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}