.main {
    height: 66vh;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 66vh;
    gap: 5rem;
    margin-top: 4rem;
};


.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__item {
        border-radius: 1.2rem;
        cursor: pointer;
        margin-bottom: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6rem 1.5rem;
        opacity: 0.5;
        &__icon {
            background-color: var(--primary);
            border-radius: 5px;
            height: 2.2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            font-size: 1.2rem;
        }
        & p {
            font-weight: 700;
        }
        &:hover {
            background-color: var(--background_light);
            opacity: 1;
        }
        &__active {
            opacity: 1;
            background-color: var(--background_light);
        }
    }
}


.candidates {
    overflow-y: auto;
    &__list {
        margin-top: 1.5rem;
    }

    &__header {
        padding-left: 2rem;
    }

    &::-webkit-scrollbar {
        height: 1px;              /* height of horizontal scrollbar ← You're missing this */
        width: 1px;               /* width of vertical scrollbar */
        border-radius: 20px;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--text_light);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text_light_medium);
        border-radius: 20px;
      }
}


.preview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        &:hover {
            background-color: var(--background_light);
        }
    
    &__image {
       
        background-position: center;
        background-size: cover;
        height: 5rem;
        width: 5rem;
        border-radius: 5rem;
        background-color: orange;
    };
    & span {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}