.menu {
    background-color: var(--background_light);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem 1fr 10rem;
    justify-items: center;
    align-items: center;
    position: relative;
};

.logo {
    background-image: url('../../../assets/meeko-favicon.png');
    background-position: center;
    background-size: cover;
    width: 3rem;
    height: 3rem;
};

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-self: start;
    padding-top: 5rem;
    align-items: flex-start;
    & p {
        cursor: pointer;
        border-bottom: 2px solid transparent;
        & svg {
            font-size: 2rem;
        }
    }

}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    & svg {
        color: var(--primary);
        font-size: 2rem;
    }
};

.block {
    position: absolute;
    height: 15rem;
    width: 15rem;
    background-color: var(--background_primary);
    top: 63%;
    left: -2.5rem;
    transform: rotate(35deg);
};

.selected {
    //border-bottom: 2px solid var(--primary) !important;
    & svg {
        color: var(--primary);
    }
}

