.view_interview {
    background-color: var(--background_light);
    border-radius: 1rem;
    height: 65%;
    width: 35%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & img {
        height: 8rem;
        width: 8rem;
        border-radius: 8rem;
        object-fit: cover;
    }
    & h4 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        & svg {
            font-size: 2.5rem;
            color: var(--text_medium_light) !important;
        }
    }
    & button {
        // margin-top: auto;
    }
};

.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    & svg {
        font-size: 2.5rem !important;
    }
    & p {
        width: 100%;
        & input {
            text-align: left !important;
        }
    }
}

