.preview {
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    // background-color: var(--white);
    // box-shadow: 0 3px 6px #3635352c; 
    border: 2px solid transparent;
    border-radius: 2rem;
    cursor: pointer;
    &__details {
        display: flex;
        gap: 1.5rem;
        & p > svg {
            color: var(--primary);
        }
    }
    &__action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & button {
            width: 10rem;
            height: 3rem;
            margin: 1rem 0 0 0;
            border-radius: 2px;
        }
    }
}

.active {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    & h3, p, small, svg {
        color: var(--white);
    }
    & button {
        background-color: var(--white);
        color: var(--primary);
    }
    & > .preview__details svg {
        color: var(--white);
    }
}
