.application {
    display: flex;
    justify-content: space-between;
    height: 10rem;
};

.job {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
};

.steps {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    flex: 2;
    &__step {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 3.5rem;
        background-color: var(--text_light);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        & p {
            color: var(--text_light_medium);
        }
        & small {
            position: absolute;
            top: 4rem;
        }
    }
    &__active {
        background-color: var(--primary) !important;
        & p {
            color: var(--white);
        }
        & small {
            color: var(--text_dark);
        }
    }
    &__divider {
        height: 2px;
        width: 9rem;
        background-color: var(--text_light);
    }
}