.job {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10%;
    height: 70vh;
}

.main {
    margin-top: 3rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}



.office {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__image {
        height: 12rem;
        width: 12rem;
        border-radius: 12rem;
        background-position: center;
        background-size: cover;
        border: 2px solid var(--primary);
        position: relative;
        & svg {
            color: var(--primary);
            font-size: 10rem;
            position: absolute;
            top: -3rem;
            left: 2rem;
        }
    }
    & p {
        width: 12rem;
        text-align: center;
        font-weight: 500;
        color: var(--text_light_medium);
    }
}

.display {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tasks {
    background-color: var(--background_light);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
}

.doughnut {
    width: 20rem;
    position: relative;
    & canvas {
        position: absolute;
        top: -5rem;
    }
    &__percent {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__header {
        height: 10.5rem;
        margin-bottom: 0 !important;
    }
}

.header {
    color: var(--text_light_medium);
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.3rem;
};