
.main {
    display: grid;
    grid-template-columns: 2fr 40rem;
    grid-template-rows: 72vh;
    gap: 5%;
    // border-bottom: 0.5px solid var(--text_light);;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 15%;
    background-color: var(--background_light);
    border-radius: 2rem;
    gap: 3rem;
    & h4 {line-height: 1;}
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;

        & button {
            margin: 0;
        }

        &__image {
            height: 9rem;
            width: 9rem;
            border-radius: 9rem;
            background-position: center;
            background-size: cover;
            // background-image: url('../../../assets/about/1.png');
            background-color: orange;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        margin-bottom: auto;
    };
}


.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
    gap: 3rem;
    margin-top: 2rem;

    & h5 {
        margin-bottom: 1rem;
    }

    &__urls {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 2rem;
        align-items: center;
        width: 100%; 
        & div {
            margin-left: auto;
        }
    }
    
    &__history {
        width: 100%;
        &__item {
            display: flex;
            justify-content: space-between;
            & p {
                flex: 1;
            }
        }
    }
    &::-webkit-scrollbar {
        height: 1px;              /* height of horizontal scrollbar ← You're missing this */
        width: 1px;               /* width of vertical scrollbar */
        border-radius: 20px;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--text_light);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text_light_medium);
        border-radius: 20px;
      }
}


.interviews {
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
    }
    &__item {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 1rem;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & svg {
            font-size: 2.5rem;
            color: var(--white);
        }
    }
    &__create {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 1rem;
        background-color: var(--background_light);
        border: 0.5px solid var(--text_light);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & svg {
            font-size: 3rem;
            color: var(--text_light);
        }

    }
}

//////////////////////////////////

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
    &__title {
        margin-right: auto;
        & h5 {
            font-size: 3.5rem;
            color: var(--text_light_medium);
            display: flex;
            align-items: center;
            gap: 3rem;
        };
        & span {
            cursor: pointer;
            height: 3.5rem;
            width: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.5rem;
            &:hover {
                background-color: var(--background_light);
            }
           & svg {
               font-size: 2.5rem;
               color: var(--text_light_medium)
           }

        }
    }
    
    &__row {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &__icon {
        height: 5rem;
        width: 5rem;
        border-radius: 5rem;
        border: 1.4px solid var(--text_light_medium);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & svg {
            font-size: 2rem;
            color: var(--text_light_medium);
        }
        &__star {
            border: 1.4px solid gold;
            & svg { color: gold; }
        }
        &__red {
            border: 1.4px solid var(--primary);
            & svg { color: var(--primary); }
        }
    }
};

.close {
    text-align: center;
    cursor: pointer;
    margin-top: 1rem;
    & small {
        font-weight: 500;
    }
}

.tasks {
    background-color: var(--background_light);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
}


.doughnut {
    width: 20rem;
    position: relative;
    & canvas {
        position: absolute;
        top: -5rem;
    }
    &__percent {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
    &__header {
        height: 10.5rem;
        margin-bottom: 0 !important;
    }
}