.loader {
    height: 100vh;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
};

.logo {
    height: 5rem;
    width: 21rem;
    background-image: url('../../../assets/logo.png');
    background-position: center;
    background-size: cover;
};

.item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35%;
}