
.main {
    display: grid;
    grid-template-columns: 3fr 1.1fr;
    height: 66vh;
    margin-top: 4rem;
    gap: 20rem;
    & h4 {
        margin-bottom: 2rem !important;
        color: var(--text_light_medium);
    }

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15rem;
    & div h4 span {
        color: var(--text_dark);
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    & h5 {
        margin-bottom: 1rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
};

.interview {
    height: 15rem;
    width: 30rem;
    border-radius: 2rem;
    background-color: var(--text_light);
}

.interviews {
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
    }
    &__item {
        height: 5rem;
        width: 5rem;
        border-radius: 1rem;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        & svg {
            font-size: 2.5rem;
            color: var(--white);
        }
    }
}