.main {
    height: 66vh;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 3fr minmax(40rem, 1fr);
    gap: 8%;

};


.tasks {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__analytics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 13rem;
        gap: 3rem;
        &__item {
            background-color: var(--primary);
            border-radius: 1.5rem;
        }
    }
}


.task {
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--background_medium);
    & p {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        & span { font-weight: 300; opacity: 0.8;}
    }
    &:hover {
        background-color: var(--background_light);
    }
};


.today {
    display: flex;
    flex-direction: column;
    background-color: var(--background_light);
    padding: 3rem 2rem;
    border-radius: 2rem;
}

.task_min {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 6rem;
    background-color: var(--white);
    padding: 0 2rem;
    border-radius: 1.5rem;
    width: 100%;
}


.add_task {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 1rem;
    background-color: var(--background_light);
    border: 0.5px solid var(--text_light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg {
        font-size: 3rem;
        color: var(--text_light);
    }

}

