.main {
    height: 66vh;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
};


.tasks {
    overflow-y: auto;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &::-webkit-scrollbar {
        height: 1px;              /* height of horizontal scrollbar ← You're missing this */
        width: 1px;               /* width of vertical scrollbar */
        border-radius: 20px;
      }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--text_light);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--text_light_medium);
        border-radius: 20px;
      }
}


.task {
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    & p {
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        & span { font-weight: 300; opacity: 0.8;}
    }
    &:hover {
        background-color: var(--background_light);
    }
};


.add_task {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 1rem;
    background-color: var(--background_light);
    border: 0.5px solid var(--text_light);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    & svg {
        font-size: 3rem;
        color: var(--text_light);
    }

}

